Statistics

    1. Descriptive statistics: Mean, Median, Mode
    2. Inferential statistics: Variance, Standard deviation

Measure of central tendency

In [2]:
import numpy as np

In [3]:
age=[12,21,23,45,65,43,56,45,32,67,54,34]
# Mean(average)
np.mean(age)

41.416666666666664

In [4]:
weights=[54,45,34,54,34,67,54,56,75]
np.mean(weights)

52.55555555555556

In [7]:
import seaborn as sns

In [8]:
# Loading 'tips' dataset from seaborn library
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
# Calculating the mean of the total_bill
np.mean(df['total_bill'])

19.78594262295082

In [10]:
# Median
np.median(age)

44.0

In [11]:
print(np.mean(age))
print(np.median(age))

41.416666666666664
44.0

In [14]:
# Mode (requires scipy module)
from scipy import stats
stats.mode(age)

ModeResult(mode=45, count=2)

In [15]:
np.median(df['total_bill'])

17.795